@font-face {
    font-family: 'SegoeUI';
    src: url('../../fonts/Segoe\ UI.ttf');
    font-weight: 700 !important;
}

@font-face {
    font-family: "SegoeUI Semi Bold";
    font-weight: 600;
    src: url("../../fonts/Segoe\ UI\ Semibold.TTF");
}

@font-face {
    font-family: "SegoeUI Bold";
    src: url("../../fonts/Segoe\ UI\ Bold.TTF");
}

@font-face {
    font-family: "SegoeUI Light";
    font-weight: 300;
    src: url("../../fonts/Segoe\ UI\ Light.TTF");
}

//Roboto

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto-Semi-Bold';
    src: url('../../fonts/Roboto-Regular.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto-Light.ttf');
    font-weight: 700;
}