body {
    font-family: "SegoeUI";
    font-size: 1rem;
    
}

h1{
    font-family: 'SegoeUI Light';
    font-size: 3rem;
}

h4{
    font-family: 'SegoeUI Semi Bold';
    font-size: 1.5rem;
}

h5{
    font-family: 'SegoeUI Semi Bold';
    font-size: 1.125rem;
}

p{
    font-family: 'SegoeUI';
    font-size: 1rem;

    &.label{
        font-family: 'SegoeUI Semi Bold';
    }

    &.copy{
        line-height: 1.875rem;
    }
}

a{
    font-family: "SegoeUI";
    font-size: 1rem;
    color: color("rp-steel");

    &:hover{
        color: color("blue")
    }
}