.usertile {
    text-align: center;
    position: relative;
    transition: box-shadow 0.3s;
    .profile-photo{
        border-radius: 50%;
        border: 8px solid white;
        background-color: white;
        width: 50%;
        margin-bottom: 20px;
        box-shadow: 0px 40px 59px -58px rgba(0,0,0,0.75);
    }

    .profile-bg{
        position: absolute;
        height: 40%;
        width: 100%;
        z-index: 0;

        img{
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }
    .user-content{
        z-index: 5;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;

        h4{
            color: black;
        }

        p.title{
            color: black;
            margin-bottom: 0.25rem;
        }

        p.department{
            color: color("rp-steel");
            font-family: 'SegoeUI Semi Bold';
            text-transform: uppercase;
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
        }

        p.location{
            font-size: 0.875rem;
        }
    }

    &:hover{
        -webkit-box-shadow: 2px 74px 65px -66px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 74px 65px -66px rgba(0,0,0,0.75);
        box-shadow: 2px 74px 65px -66px rgba(0,0,0,0.75);
        .profile-bg{
            img{
                opacity: 1;
            }
        }
    }
}

a.user-link{
    &:hover{
        text-decoration: none !important;
        color: currentColor;
    }
}