form.user-search{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .user-input{
        background: url('../images/search.svg') no-repeat;
        padding-left: 30px;
        background-size: 20px;
        background-position: 5px;
        border: 1px solid color("rp-steel");
        font-size: 0.875rem;
    }

    select{
        padding: 10px 15px;
        border: 1px solid color("rp-steel");
        font-size: 0.875rem;

        &:not(:last-of-type){
            margin-right: 20px;
        }
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../images/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: 12px;
}